html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    min-width: 768px;
    overflow-x: hidden;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
}

.container {
    padding: 20px 40px;
    @media screen and (min-width: 1440px) {
        max-width: 1260px;
        margin: auto;
        padding: 0;
    }
}

.header {
    font-size: 15px;
    color: grey;
    font-family: 'Quicksand', sans-serif;

}
// Header  ============================

    .header {
        background: rgb(59, 59, 59);
        &__inner {
            min-height: 35px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                color: rgb(204, 204, 204);
                font-size: 17px;
                text-transform: uppercase;
            }
            .contact-us {
                &__btn a {
                    text-decoration: none;
                    color: rgb(204, 204, 204);
                    font-size: 12px;
                    text-transform: uppercase;
                }
                
            }
            .menu {
                display: none;
                &__item {
                font-size: 12px;
                line-height: 24px;
                align-items: center;
                color: rgb(204, 204, 204);
                text-decoration: none;
                margin-right: 36px;
                    &:last-child {
                    margin-right: 0;
                    }
                    &:hover {
                        color: rgb(116, 115, 115);
                    }
                }
                @media screen and (min-width: 1440px) {
                    display: block;
                }
            }

            .menu-burger {
                @media screen and (min-width: 1440px) {
                    display: none;
                }
                &__btn {
                background-color: inherit;
                border: none;
                position: relative;
                    &::after {
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 2px;
                    color: rgb(204, 204, 204);
                    box-shadow: 0 5px 0 0 rgb(204, 204, 204), 0 10px 0 0 rgb(204, 204, 204);
                    top: -13px;
                    right: -1px;
                    }
                }
            }
        }
    }
