html {
    box-sizing: border-box;
}

*,*::after,*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


body {
    min-width: 320px;
    overflow-x: hidden;
    font-family: Helvetica;
    background-color: #020213;
}

.container {
    padding: 0 20px;
    @media screen and (min-width: 1440px) {
        max-width: 1260px;
        margin: auto;
        padding: 0;
    }
}


// Header  ============================

.header {
    background: #020213;
    &__inner {
        min-height: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 1440px) {
            margin-bottom: 40px;
        }
    }
    .logo {
        display: flex;
        align-items: center;
        @media screen and (min-width: 1440px) {
            margin-right: 335px;
        }
        p {
            color: #fff;
            font-size: 17px;
            font-family: Helvetica;
            font-style: normal;
            font-weight: 900;
            text-transform: uppercase;
        }
        &__link-img {
            height: 38px;
            margin-right: 7px;
        }
    } 
    .contact-us-vector {
        @media screen and (min-width: 1440px) {
            display: none;
        }
    }   
    .contact-us-vector-img {
        width: 18px;
        position: absolute;
        top: 57px;
        right: 56px;
    }
    .menu {
        display: none;
        @media screen and (min-width: 1440px) {
            display: block;
            // position: absolute;
            // left: 570px;
        }
        @media screen and (min-width: 1920px) {
            left: 810px;
        }
        &__item {
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            align-items: center;
            color: #FFFFFF; 
            text-decoration: none;
            margin-right: 36px;
            &:last-child {
                margin-right: 0;
            }
            &:hover {
                font-weight: 900;
                color: #18E8A4;
                margin-right: 23px;
            }
        }
    }
    .contact-us {
        display: none;
        @media screen and (min-width: 1440px) {
            display: block;
            &__btn {
                font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                align-items: center;
                text-align: center;
                background: rgba(20, 20, 26, 0.3);
                color: #FFFFFF;
                border: 2px solid #18E8A4;
                border-radius: 383px;
                width: 156px;
                height: 48px;
                cursor: pointer;
                margin-left: 290px;
                &:hover {
                    border: 3px solid #18E8A4;
                }
            }
        }
    }
    .menu-burger {
        @media screen and (min-width: 1440px) {
            display: none;
        }
        &__btn {
            background-color: inherit;
            border: none;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                width: 16px;
                height: 2px;
                background-color: #FFFFFF;
                box-shadow: 0 5px 0 0 #FFFFFF, 0 10px 0 0 #FFFFFF;
                top: -13px;
                right: -1px;
            }
        }
    }
}



// Tittle  ============================
.tittle {
    background-color: #020213;
    margin-bottom: 42px;
    &__inner {
        margin-bottom: 16px;
        @media screen and (min-width: 768px) {

        }
        @media screen and (min-width: 1440px) {
            display: flex;
            align-items: center;
            margin-bottom: 100px;
        }
        h1 {
            font-family: Helvetica;
            font-style: normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 111%;
            letter-spacing: -1px;
            color: #FFFFFF;  
            margin-bottom: 16px; 
            @media screen and (min-width: 768px) {
                font-size: 56px;
                br {
                    display: none;
                }
            }
            @media screen and (min-width: 1440px) {
                width: 430px;
                margin-right: 50px;
                br {
                display: block;
                }
            }

                span {
                    color: #18E8A4;
            }
        }
        p {
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 155%;
            color: #FFFFFF;
            @media screen and (min-width: 768px) {
                max-width: 536px;
            }
            @media screen and (min-width: 1440px) {
                font-size: 24px;
                max-width: 576px;
            }
        }
    }
}


// Slider  ============================ 

.slick-track {
    display: flex;
}

.slick-track {
    overflow: hidden;
    align-items: flex-start;
}


// Gallery-slider  ============================ 
.gallery-slider {
    &__item {
        // text-align: center;
        // width: 119px!important;
        // height: 67px!important;
        // overflow: hidden;
        overflow: hidden;
        border-radius: 10px;
        width: auto!important;
        position: relative;
        z-index: 2;
        &__hover-button {
            font-family: Helvetica;
            font-style: normal;
            font-weight: 800;
            font-size: 28px;
            line-height: 120%;
            display: flex;
            align-items: center;
            text-align: center;
            color: #020213;
            text-decoration: none;
            position: absolute;
            cursor: pointer;
            z-index: 1;
            top: 0;
            left: 0;
            opacity: 0;
            background: rgba(24, 232, 164, 0.9);
        }
        @media screen and (min-width: 768px) {
            &:hover {
                width: auto;
                height: auto;
                opacity: 0.9;
                box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
                border-radius: 10px;
                .gallery-slider__item__hover-button {
                    opacity: 1;
                }
            }
        }

        &:hover img {
            opacity: 0.4;
        }
        @media screen and (min-width: 320px) {
            padding: 0 3.1px;
        }
        @media screen and (min-width: 768px) {
            padding: 0 5px;
        }
        @media screen and (min-width: 1920px) {
            padding: 0 10px;
        }
        img {
            @media screen and (min-width: 320px) {
                width: 119px!important;
                height: 69px!important;
            }
            @media screen and (min-width: 768px) {
                width: 189px!important;
                height: 106px!important;
            }
            @media screen and (min-width: 1440px) {
                width: 378px!important;
                height: 212px!important;
            }
        }
    }
    &__third {
        margin-bottom: 42px;
        position: relative;
    }

    &__button {
        background: #18E8A4;
        box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
        border-radius: 10px;
        width: 172px;
        height: 40px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 800;
        font-size: 13px;
        line-height: 120%;
        align-items: center;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: auto;
        margin-bottom: 63px;
        @media screen and (min-width: 768px) {
            margin-left: 74px;
        }
        @media screen and (min-width: 1440px) {
            display: none;
        }
    }

    &__third {
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%);
            left: 0;
            top: 0;
            transition: opacity 0.6s;
        }
    }
}




// About the company ============================ 

.about-the-company {
    .container {
        @media screen and (min-width: 1440px) {
            display: flex;
            justify-content: space-between;
        }
    }
    background: #FFFFFF;
    padding: 48px 0 48px 0;
    @media screen and (min-width: 768px) {
        padding: 80px 0 80px 0;
    }
    
    &__tittle {
        margin-bottom: 31px;
        @media screen and (min-width: 768px) {
            margin-bottom: 48px;
            br {
                display: none;
            }
        }
        @media screen and (min-width: 1440px) {
            br {
                display: block;
            }
        }
        h2 {
            font-family: Helvetica;
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 90%;
            letter-spacing: -1px;
            color: #202523;
            @media screen and (min-width: 1440px) {
                font-size: 62px;
            }
        }
    }
    &__block {
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }
    &__text {
        &:first-child p {
            margin-bottom: 32px;
        }
        @media screen and (min-width: 768px) {
            &:first-child p {
                margin-right: 32px;
            }
        }
        @media screen and (min-width: 1140px) {
            &:first-child p {
                margin-right: 40px;
            }
        }
        p {
            font-family: Helvetica;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 180%;
            color: #545460;
            @media screen and (min-width: 1440px) {
                width: 400px;
            }
        }
    }
}



// FreySoft process ============================ 

.freySoft-process {
    background: #D5D4D9;
    box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09),
    0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09);
    padding: 64px 0 42px 0;
    @media screen and (min-width: 768px) {
        padding: 80px 0 50px 0;
    }
    &__discription {
        margin-bottom: 42px;
        @media screen and (min-width: 768px) {
            margin-bottom: 32px;
        }
        @media screen and (min-width: 1440px) {
            display: flex;
            margin-bottom: 54px;
        }
        &__tittle h3 {
            font-family: Helvetica;
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 110%;
            letter-spacing: -1px;
            color: #202523;
            margin-bottom: 28px;
            @media screen and (min-width: 768px) {
                margin-bottom: 32px;
                br {
                    display: none;
                }
            }
            @media screen and (min-width: 1440px) {
                font-size: 62px;
                margin-right: 232px;
                br {
                    display: block;
                }
            }
        }
        &__text {
            p {
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 180%;
                color: #485563;
                margin-bottom: 13px;
                @media screen and (min-width: 768px) {
                    margin-bottom: 0;
                }
                @media screen and (min-width: 1440px) {
                    font-size: 24px;
                }
            }
            @media screen and (min-width: 768px) {
                width: 50%;
                &:first-child p {
                    margin-right: 52px;
                }
            }
            @media screen and (min-width: 1440px) {
                width: 612px;
                &:first-child p {
                    margin-right: 0;
                    margin-bottom: 24px;
                }
            }
        }
        &__inner {
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-between;
            }
            @media screen and (min-width: 1440px) {
                flex-direction: column;
            }
        }
    }
    &__inner {
        @media screen and (min-width: 1440px) {
            display: flex;
        }
        &__item {
            background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(117.15deg, #1BD1FC 0%, #316DD1 100%);
            box-shadow: 0px 32px 16px rgba(0, 0, 0, 0.09), 0px 16px 8px rgba(0, 0, 0, 0.09), 0px 8px 4px rgba(0, 0, 0, 0.09), 
            0px 4px 2px rgba(0, 0, 0, 0.09), 0px 2px 1px rgba(0, 0, 0, 0.09);
            border-radius: 16px;
            width: 280px;
            height: 514px;
            padding: 32px 25px 107px 25px;
            position: relative;
            z-index: 1;
            margin-right: 10px;
            @media screen and (min-width: 768px) {
                width: 354px;
                height: 514px;
                padding: 32px 20px 182px 20px;
            }
            @media screen and (min-width: 1440px) {
                width: 620px;
                height: 457px;
                padding: 100px 24px 210px 24px;
                margin-right: 0;
                &:first-child {
                    margin-right: 20px; 
                }
            }
            &__text {
                font-family: Helvetica;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 110%;
                text-transform: uppercase;
                color: #545460;
                margin-bottom: 16px;
            }
            &__tittle {
                font-family: Helvetica;
                font-style: normal;
                font-weight: 800;
                font-size: 32px;
                line-height: 110%;
                letter-spacing: -1px;
                color: #202523;
                margin-bottom: 24px;
            }
            &__discription {
                font-family: Helvetica;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 25px;
                color: #596067;
                position: relative;
                z-index: 2;
            }
            &__img {
                position: relative;
                z-index: 1;
                bottom: 119px;
                left: 64px;
                @media screen and (min-width: 768px) {
                    bottom: 35px;
                    left: 100px;
                }
                img {
                    height: 185px;
                }
            }
        }
        &__img {
            position: relative;
            z-index: 2;
            bottom: 75px;
            background: url('../img/steps\ flow.png');
            height: 175px;
            @media screen and (min-width: 768px) {
                background: url('../img/steps\ flow\ \(1\).png') center;
                background-repeat: no-repeat;
            }
            @media screen and (min-width: 1440px) {
                background: url('../img/Group\ 15459.png') center;
                background-repeat: no-repeat;
            }
            @media screen and (min-width: 1440px) {
                background: url('../img/Group\ 15459.png') center;
                background-repeat: no-repeat;
            }
        }
    }
}

// .gallery-slider__third {
//   &::after {
//     content: '';
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     background: linear-gradient(180deg, rgba(2, 2, 19, 0) 0%, #020213 100%);
//     left: 0;
//     top: 0;
//     transition: opacity 0.6s;
//   }
// }